.booking__list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50em;
  border-radius: 3px;
  padding: 0;
  box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.25);
  list-style: none;
  animation: fadeIn 1s;
}
@keyframes fadeIn {
  from { opacity: 0;}
  to { opacity: 1;}
}