.overlay {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 60%;
  background: #fefefe;
  border-radius: 3px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.6s;
}
.modal__header {
  padding: 1rem;
  background-color: #bea42f;
  border-radius: 3px 3px 0 0;
}
.modal__header h1 {
  margin: 0;
  text-align: center;
  font-weight: lighter;
}
.modal__content {
  padding: 2em 2em 0.5em 2em;
}
.modal__actions {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
}
.modal__actions button {
  border: none;
  border-radius: 3px;
  font: inherit;
  cursor: pointer;
  padding: 0.5em 5em;
  margin: 0 0.5em;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .modal__actions {
    padding: 1em;
  }
  .modal__actions button {
    padding: 1em 0em;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .modal {
    min-width: 90%;
  }
}
@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}