.auth-wrapper {
  position: relative;
  margin: 10rem auto;
  background-color: #f0dc6d;
  color: #000;
  width: 50%;
  border-radius: 3px;
  padding: 1rem 1rem;
  box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.25);
}
.auth-form {
  width: 25rem;
  max-width: 80%;
  margin: 0 auto;
}
.auth-form__title {
  margin: 1em 0;
  text-align: center;
}
.form-control label,
.form-control input {
  display: block;
  width: 100%;
}
.form-control input {
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 0.7rem;
  outline: none;
}
.form-control input:focus {
  border-radius: 3px;
  border: 1px solid #404040;
  padding: 0.7rem;
}
.form-control {
  margin-bottom: 1rem;
}
.form-actions button {
  background-color: #5c5c5c;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font: inherit;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 0.1s;
}
.form-actions button:hover {
  box-shadow: none;
  color: white;
  background-color: #404040;
}
@media only screen and (max-width: 768px) {
  .auth-wrapper {
    margin: 5rem auto;
    width: 90%;
  }
  .form-control label,
.form-control input {
  display: block;
  width: 90%;
}
}